// external imports
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: $background;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background: $primary;
  padding: 8px 14px;

  border: none;
  border-radius: 1000px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

//.container {
//  padding: 0 40px 0 90px;
//  max-width: 1830px;
//  width: calc(100vw);
//  margin: 0 auto;
//}
